.list {
  margin-top: 10px;
  margin-left: 20px;
}

.listItem {
  padding-bottom: 10px;
}

.listDel {
  margin-left: 10px;
  border-radius: 5px;
  border: 1px solid #979797;
  /* background-color: #b4d6f3; */
}
.listDel:hover,
.listDel:focus {
  background-color: #b4d6f3;
}
